.container {
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #5e5c5a;
  width: auto;
}

.button {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background: transparent;
  border: none;
  font: 500 16px/24px Fredoka, sans-serif;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;
}

.button svg {
  width: 16px !important;
  height: 16px !important;
}

.button.active,
.button:hover {
  opacity: 1;
}

.button:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
